 <!DOCTYPE html>
 <!DOCTYPE html>
 <html>
 <head>
 	<title>Vasu's Blog</title>

 	<!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
 </head>
 <body>
 	<header class="container center-align">
 		<h1>Vasu's Blog</h1>
 		
 	</header>

 	<div class="container">
 		{% block content %}
 		{% endblock %}
 		<br>
 		<a style="display:block;" class="center-align" href="/admin">Admin Login</a>
 	</div>
 </body>
 </html>